<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1><%= header %></h1>
  </header>
  <main>
    <form action="/stock/add-product" method="post">
      <label for="name">Nama Produk:</label>
      <input type="text" id="name" name="name" required><br><br>
      
      <label for="purchasePrice">Harga Beli:</label>
      <input type="number" id="purchasePrice" name="purchasePrice" required><br><br>
      
      <label for="sellingPrice">Harga Jual:</label>
      <input type="number" id="sellingPrice" name="sellingPrice" required><br><br>
      
      <label for="safeStock">Stok Aman:</label>
      <input type="number" id="safeStock" name="safeStock" required><br><br>
      
      <label for="dangerousStock">Stok Tidak Aman:</label>
      <input type="number" id="dangerousStock" name="dangerousStock" required><br><br>
      
      <label for="type">Tipe Produk:</label>
      <select id="type" name="type">
        <option value="voucher">Voucher</option>
        <option value="accessory">Aksesoris</option>
      </select><br><br>
      
      <button type="submit">Add Product</button>
    </form>
  </main>
</body>
</html>
